.audioH1{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(246, 111, 133),pink,rgb(246, 111, 134));
}